test/__pycache__
test_export_output/**
.env
.venv*
.history
.letta
__pycache__/
__pycache__/*
__pycache__/**
**/__pycache__/**
**/__pycache__/*
scratch.*
uv.lock
**/poetry.lock
.coverage
**/package-lock.json
**/node_modules/**
**/.next/**
scripts/mysql/backups/*
apps/aiEnrich/cv/*
**/**/coverage.xml
**/**/coverage.txt
apps/web/coverage/.tmp
apps/scrapper/scrapper_state.json
apps/aiEnrichNew/cv/*
apps/aiEnrich/src/aiEnrich/cv/*


!AI-job-search.code-workspace
.a0proj/

# Playwright
playwright-report
test-results
