test/__pycache__
test_export_output/**
.env
.venv*
.history
__pycache__/
__pycache__/*
__pycache__/**
**/__pycache__/**
**/__pycache__/*
scratch.*
uv.lock
**/poetry.lock
.coverage
**/node_modules/**
**/.next/**
scripts/mysql/*backup.*
apps/aiEnrich/cv/*
**/coverage.xml
apps/scrapper/scrapper_state.json

