.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-main {
  flex: 1;
  padding: 1rem;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
